/*topcinza 
brainline 807c61
buttongreen */
body{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
p, h1{
	margin: 0;
}
.header{
	background: #262626 url(../images/smoke.png) no-repeat;
	background-position: 100% 100%;
	background-size: 35.8%;
}
.intro{
	background: url(../images/mug-bg.png) no-repeat;
	background-size: contain
}
.requirements{
	background: url(../images/code-bg.png) no-repeat;
	background-size: cover
}
.full-page{
	min-height: 100vh;
}
.contact{
	background: #cccbc4;
	color: #807c61;
}
/*utilities*/
.light{
	font-weight: lighter;
}
.bold{
	font-weight: bold;
}
.green{
	color: #3e9350;
}
.pink{
	color: #bf305f;
}
.blue-bg{
	background: #bf305f;
}
.green-bg{
	background: #8bdf9f;
}